*,
::before,
::after {
  box-sizing: border-box;
  margin-block: 20px;
  background-color: #f8fcfc;
}
:root {
  --background-color: azure;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  padding: 10px;
  border-style: outset;
  writing-mode: horizontal-tb;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

main {
  padding: 20px 30px;
  display: flex;
  flex-direction: row;
  margin: auto;
  border-style: outset;
}
p {
  border-style: outset;
  padding: 20px;
  margin: 20px;
}
img {
  max-width: 200px;
  max-height: 200px;
  width: 200px;
  height: 200px;
}

ul {
  display: flex;
  flex-direction: row;
  text-align: center;
  list-style: none;
  margin: auto;
  width: min-content;
  border-style: outset;
}

li {
  margin: 20px 20px;
}

footer {
  padding: 30px;
  text-align: center;
}
